# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python/
env/
venv/
.venv/
*.egg-info/
.pytest_cache/
.ipynb_checkpoints/
.mypy_cache/
.vscode/

# Conda
.conda/
.condarc
.DS_Store # macOS specific


# Logs and temporary files
*.log
*.tmp
*.swp
*.swo

# Jupyter Notebook specific
.ipynb_checkpoints/