black
jupyter-black
pylint
scikit-learn
pandas
numpy
matplotlib
seaborn
ipykernel
notebook
fastapi
uvicorn
streamlit
scipy
nltk
textblob
vaderSentiment
langdetect
torch # This will install the CPU version by default
gunicorn